/* The animation code */
@keyframes textAnimay {
  0% {
    opacity: 5%;
  }
  20% {
    opacity: 50%;
  }
  40% {
    opacity: 70%;
  }
  60% {
    opacity: 85%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
